@model ParkingManagement.Models.Vechicle

@{
    Layout = null;
}
<!DOCTYPE html>

<script src="~/Scripts/jquery-3.3.1.js"></script>
<script src="~/ParkingScripts/ParkingManagement.js"></script>
<script>
    $(document).ready(function () {        
        $.ParkingMang = {};
        $.ParkingMang.ParkingManagement = {};
        var options = {};
        options.GetVechileNamesURL = '@Url.Action("GetVechileNames", "Lookup")';
        options.AddRemoveVechiclesURL = '@Url.Action("AddRemoveVechicles", "Lookup")';
        
        var obj = new ParkingMang.ParkingManagement(options);   
        obj.BindDataAndEvents();
    });
</script>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Park Management System</title>
</head>
<body>
    <header style="text-align:center;font-size:30px">Parking Management System</header>
        <div>           
            <table align="center" style="margin-top:70px">
                <tr>
                    <td>
                        <h1>Parking Status :</h1> 
                    </td>
                    <td>
                        Occupied Count : &nbsp; <span><input type="text" style="width:40px;height:25px;text-align:center;" disabled id="txtOccpCount" /> </span>
                    </td>
                    <td>
                        Available Count : &nbsp; <span><input type="text" style="width:40px;height:25px;text-align:center;" disabled id="txtAvailCount" /></span>

                    </td>
                </tr>
            </table>
        </div>
        <div>
            <table style="margin-top:70px" width="35%">
                <tr>
                    <td>
                        Vechicle Type :
                    </td>&nbsp;&nbsp;
                    <td>
                        @Html.DropDownListFor(m => m.VechicleType, new SelectList(Model.lstVechicleType, "VId", "VechicleType"))
                    </td>&nbsp;&nbsp;
                    <td>
                        Vechicle  Name :
                    </td>&nbsp;&nbsp;
                    <td>
                        @Html.DropDownListFor(m => m.VechicleName, new SelectList(Model.lstVechicleName, "VId", "VechicleName"))
                    </td>
                </tr>
            </table>
        </div>
    <table align="center" style="margin-top:70px">
        <tr>
            <td>
                <img src="~/Images/SG.jpg" id="imgSG" />
            </td>
            <td>
                <input type="button"style="color:green" id="btnAddVechicle" value="Add To Parking" />
            </td>
            <td>
                <input type="button"style="color:red" id="btnRemoveVechicle"value="Remove From Parking" />
            </td>
        </tr>
    </table>
</body>
</html>
